/* .slider h3,
.slider h5 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.card{
    padding-left: 10px;
    padding-right: 10px;
}
.social p{
    font-size: larger !important;
}

section,
footer{
    padding: 20px 0;
} */
